/* Стилове за основно оформление */
html {
    background-color: #1e2a38;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Скрива хоризонталния скрол бар */
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Скрива хоризонталния скрол бар */
}

/* Навигационен бар */
nav {
    background: linear-gradient(to bottom, #1e2a38, #000);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    width: 100%; /* Уверява се, че навигационният бар покрива цялата ширина */
    box-sizing: border-box; /* Включва бордюрите и пълнежа в общата ширина */
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin: 0 20px;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-family: "Ubuntu Mono", monospace;
    font-size: 2rem;
    padding: 20px;
    transition: color 0.3s ease, background 0.3s ease;
}

.nav-link:hover {
    color: #1e2a38;
    background: rgba(255, 255, 255, 0.2);
}

.nav-link:active {
    background: rgba(255, 255, 255, 0.5);
}

/* Заглавия */
h1,
h2,
h3 {
    font-family: "Ubuntu Mono", monospace;
    color: #1e2a38;
    text-align: center;
    margin: 0;
    padding: 5px 0;
}

/* Основно съдържание */
.box-content {
    flex: 1;
    text-align: center;
    background-image: url(./main-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 120px); /* Установява височина, която взима под внимание навигацията и футъра */
    width: 100%;
    box-sizing: border-box; /* Включва бордюрите и пълнежа в общата ширина */
    overflow: hidden; /* Скрива вертикалния скрол бар */
}

/* Футър */
footer {
    background: linear-gradient(to top, #1e2a38, #000);
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    box-sizing: border-box; /* Включва бордюрите и пълнежа в общата ширина */
}

/* Заглавия в основното съдържание */
.h1-main {
    font-size: 3.5rem;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 0.8;
    transition: text-shadow 0.3s ease;
}

.h1-main:hover {
    text-shadow: 6px 6px 15px rgba(192, 192, 192, 0.5);
}

.h2-main {
    font-size: 2.2rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 0.8;
}

h3 {
    font-size: 1.5rem;
    color: white;
}

/* Списъци */
li {
    list-style-type: none;
}

/* Респонсив дизайн */
@media (max-width: 768px) {
    .navbar-menu {
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        font-size: 1.2rem;
        padding: 15px;
    }

    .container {
        width: 90%;
    }

    h1 {
        font-size: 2.5rem;
    }

    .h1-main {
        font-size: 2.5rem;
    }

    .h2-main {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .navbar-menu {
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        font-size: 1.5rem;
        padding: 20px;
    }

    .container {
        width: 95%;
    }

    .box-content {
        height: auto;
        background-size: cover;
    }

    h1 {
        font-size: 2rem;
    }

    .h1-main {
        font-size: 2rem;
    }

    .h2-main {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.9rem;
    }
}
