body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center-content {
  /* Можете да добавите още стилове тук за центриране на съдържанието */
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачен фон */
  padding: 20px;
  border-radius: 10px;
}