body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: antiquewhite;
    font-family: "Noto Sans", sans-serif;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    background-color: #0e207a;
    display: flex;
    justify-content: center;
}

.main-nav ul li {
    margin: 0 10px;
}

.main-nav ul li a {
    text-decoration: none;
    color: beige;
    background-color: #5c8ec3;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3 ease
}

.main-nav ul li a:hover {
    text-decoration: underline;
    background-color: royalblue
}

.main-nav ul li a:active {
    background-color: red
}

/*stylish pictures section
.picture-settings {
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
}
    */
  img {
      height: 200px;
      width: 200px;
    }

.header-h1 {
    font-optical-sizing: auto;
    font-weight: 2000;
    font-style: unset;
    font-variation-settings:
        "wdth" 2000;
    margin: 0;
}

.paragraph-p {
    font-family: "Architects Daughter", system-ui;
    color: beige;
    font-size: x-large;
    margin: 10px 0;
    background-color: rgb(14, 144, 53);
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 2000;
    color: beige;
    background-color: rgb(14, 144, 53);
}

.color-text {
    color: rgb(42, 149, 195);
    font-family: "Architects Daughter", system-ui;
    font-weight: 400;
    font-style: normal;
}

.sofadi-one-regular {
    font-weight: 400;
    font-style: normal;
}

/*This is style from Google Fonts*/

.architects-daughter-regular {
    font-family: "Architects Daughter", system-ui;
    font-weight: 400;
    font-style: normal;
}

.noto-sans-textstyle {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.resume-content {
    width: 50%;
    text-align: left;
    margin-left: 25%;
    padding: 20;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

.summary-text {
    margin-bottom: 30px;
    font-size: 16px;
}

.github-click {
    display: inline-block;
    text-decoration: none;
    color: beige;
    background-color: #5c8ec3;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 30px;
    transition: background-color 0.3 ease
}

.github-click:hover {
    text-decoration: underline;
    background-color: royalblue
}

.github-click:active {
    background-color: red
}
